
$color-border: #CDCDCD;
$color-label: darken($color-border, 20%);
$color-primary: #1695A3;

/*
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

*/
body {
  font-family: Lato, Helvetica, sans-serif;
  padding: 1rem;
}

body, html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
}




.center_div{
    margin: 0 auto;
    width:20% /* value of your choice which suits your alignment */
}







.field {
  display: block;
  margin-bottom: 0.5rem;
}

label {
  display: block;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: $color-label;
}

input {
  appearance: none;
  border: 1px solid $color-border;
  font-size: 1rem;
  padding: 0.5rem;
  
  &:focus {
    outline: 2px solid $color-primary;
  }
  
  button {
  display:block;
  appearance: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: $color-primary;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 0.5rem 0;
  
  &:hover {
    opacity: 0.8;
  }
}
}





.thank-you-note {
  padding: 60px;
  font-size: 40px;
  text-align: center;
}

